version: '3.8'

services:
  db:
    image: postgres:15-alpine
    container_name: weather_db_dev
    restart: always
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      - POSTGRES_DB=${DB_DATABASE}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data_dev:/var/lib/postgresql/data

  # redis:
  #   image: redis:7-alpine
  #   container_name: weather_redis_dev
  #   ports:
  #     - "6379:6379"

volumes:
  postgres_data_dev: